// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.informations {
  border: #fff2e5 solid 1px;
  border-radius: 5px;
  padding: 29px;
  margin: 20px;
  background-color: #fffdf4;
}

.comments{

}
.comment {
  background-color: white;
  padding: 5 px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.add-comment{

} 